#scroller li {
    background: #111827;
}
.popular_movie_box{
    text-align: left;
}
.hero-section .relative input{
    color: #111827;
}

/*responsive CSS*/
@media (min-width:320px) and (max-width:575px) {
    .welcome-text{
        font-size: 30px;
        padding-bottom: 0;
    }
    .brand-text{
        font-size: 20px;
    }
}
